.btn {
    padding: 10px 20px;
    background-color: coral;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5e ease;
}

.btn:hover {
    background-color: darkred ;
}